<div class="card mat-card">
         <h1>Hard & Soft Skill</h1>
         <h4>HTML</h4>
        <div class="container">
          <div class="html"></div>
        </div>
          <h4>CSS</h4>
          <div class="container">
              <div class="css"></div>
          </div>
          <h4>Ingles</h4>
          <div class="container">
              <div class="ingles"></div>
          </div>
          <h4>Javascript</h4>
          <div class="container">
              <div class="javascript"></div>
          </div>
          <h4>Excel</h4>
          <div class="container">
              <div class="excel"></div>
          </div>
</div>

